.img-container {
  position: relative;
  margin-right: 20px;
  img {
    width: 350px;
  }
}

.circle {
  background-color: black;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}
