:host {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  padding-left: 1em;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: xx-large;
    font-weight: bold;
  }
  img {
    height: 6em;
  }
}
main {
  flex: 1;
}
