<div class="modal-content">
  <div class="modal-header">
    <h4>Add new sub rubric for {{ parentRubricName }}</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (keydown.enter)="onSubmit(f); $event.stopPropagation()">
      <input
        name="file"
        ngModel
        required
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <div class="file-upload">
        {{ file?.name || "No file uploaded yet. " }}

        <div class="icon-wrapper" (click)="fileUpload.click()">
          <span class="material-icons">attach_file</span>
        </div>
      </div>
      <span>Rubric name:</span>
      <input name="rubricName" ngModel required />
    </form>
    <div class="form-control-feedback" *ngIf="formErrors">
      <p *ngIf="formErrors?.file">File is required</p>
      <p *ngIf="formErrors?.name">Name is required</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onSubmit(f)">
      Submit
    </button>
  </div>
</div>
