.file-input {
  display: none;
}
.file-upload button {
  background-color: blue;
  border: none;
  color: white;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
}
