.file-input {
  display: none;
}
.icon-wrapper {
  background-color: blue;
  border: none;
  color: white;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
}
.form-control-feedback{
  color: red;
  padding-top: 1em;
}