.wrapper {
  display: flex;
}

h1 {
  font-weight: bold;
}
ol {
  padding-top: 0.5em;
  padding-left: 1em;
}
li {
  cursor: pointer;
  list-style-type: decimal;
  line-height: 2em;
  & + li {
    border-top: 1px dotted gray;
  }
}
.circle {
  background-color: black;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}
.img-container {
  position: relative;
  margin-right: 20px;
  img {
    width: 350px;
  }
}
