<div *ngIf="rubric$ | async as rubric" class="wrapper">
  <app-image-container
    [name]="rubric.name"
    [imageSource]="baseUri + rubric.imageSource"
    [dots]="createDots(rubric.children)"
    (onImageClick)="onImageClick($event, rubric.name, rubric.id)"
  ></app-image-container>

  <div>
    <h1>{{ rubric.name }}</h1>
    <h2>{{ rubric.subTitle }}</h2>
    <ol>
      <li
        *ngFor="let subRubric of rubric.children"
        (click)="openSubRubric(subRubric.id)"
      >
        {{ subRubric.name }}
      </li>
    </ol>
  </div>
</div>
